@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Salutations Friendo</h1>
    <p>Welcome to LazySausages finances to access our features <a href="https://localhost:7130/Accounts/Login">Login now</a> alternatively if you dont have an account <a href="https://localhost:7130/Accounts/Register">Create one now</a></p>
    <h1 class="display-4">Welcome</h1>
    <p>Go on then</p>
</div>
