@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Greetings!</h1>
    <p>Welcome to LazySausages finances!<br />To access our features: <a id="logInNowHome" href="https://localhost:7130/Accounts/Login">Login now</a>.<br />Alternatively, if you dont have an account: <a href="https://localhost:7130/Accounts/Register">Create one now</a>.</p>

</div>
