@model RegisterViewmodel
@{
	ViewBag.Title = "User Register";
}



<H1>Create an account for your finance app BOII</H1>

<div class="row">

	<div class="col-md-12">
		<form method="post">

			<div asp-validation-summary="All" class="text-danger"></div>


			<div class="form-group">
				<label asp-for="FirstName"></label>
				<input asp-for="FirstName" class="form-control" placeholder="Enter your firstname here you bum" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="LastName"></label>
				<input asp-for="LastName" class="form-control" placeholder="Enter your lastname here please" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control" placeholder="Your phonenumber here friendo"></input>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="DateOfBirth"></label>
				<input asp-for="DateOfBirth" class="form-control" placeholder="When were you born, asking for a friend"></input>
				<span asp-validation-for="DateOfBirth" class="text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" placeholder="Definitely wont send you scam mail" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" type="password" class="form-control" placeholder="Must contain at least 1 number, symbol, uppcercase letter and lowercase letter"></input>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Confirmpassword"></label>
				<input asp-for="Confirmpassword" type="password" class="form-control" placeholder="REENTER YOUR DAMN PASSWORD"></input>
				<span asp-validation-for="Confirmpassword" class="text-danger"></span>
			</div>



			<button type="submit" class="btn btn-primary mt-1">Register</button>

		</form>

		<Form>

			<button asp-action="Back" type="submit" class="btn btn-primary  mt-2">Back</button>

		</Form>

	</div>
</div>