@model FinanceProject.Models.Invoice
@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Invoices</h1> <br>

    <h1 class="display-5" style="font-weight: bold">Add new invoice</h1> <br>
    <a asp-action="Index">Go Back</a>
    <form asp-action="Create" class="invoiceForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="inputHolder">
            <label asp-for="Header" class="invoiceInputLabel">Title: </label><br>
            <textarea asp-for="Header" class="invoiceInput" id="invoiceHeaderInput" maxlength="50" rows="1" cols="50"></textarea><br>
            <span asp-validation-for="Header" class="text-danger"></span>
        </div>

        <div class="inputHolder">
            <label asp-for="Description" class="invoiceInputLabel">Description: </label><br>
            <textarea asp-for="Description" class="invoiceInput" id="invoiceDescriptionInput" maxlength="200" rows="4" cols="50"></textarea><br>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="inputHolder">
            <label asp-for="Amount" class="invoiceInputLabel">Amount [€]: </label><br>
            <textarea asp-for="Amount" class="invoiceInput" id="invoiceAmountInput" rows="1"></textarea><br>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        @*
        <div class="inputHolder">
            <label asp-for="InvoiceDate" class="invoiceInputLabel">Invoice time: </label><br>
            <input type="date" asp-for="InvoiceDate" class="invoiceInput" value="@DateTime.Now" />
            <span asp-validation-for="InvoiceDate" class="text-danger"></span>
        </div> *@

        <div class="inputHolder">
            <label asp-for="InvoiceCategory" class="invoiceInputLabel">Category: </label><br>
            <span asp-validation-for="InvoiceCategory" class="text-danger"></span>
            <select asp-for="InvoiceCategory" id="invoiceCategory">
                <option value="" disabled selected>--Select--</option>
                @foreach (var category in Enum.GetValues(typeof(InvoiceCategories)))
                {
                    <option value="@category">@category</option>
                }
            </select>
            <input type="submit" name="submitButton" value="Submit" />
        </div>
    </form>
</div>