@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1 class="display-4">Transaction history</h1> <br />
</div>

<div>
    <h1>Invoices</h1>
    <a asp-action="Index">Back</a>
</div>