@{
    ViewData["Title"] = "Transaction history";
}

<div class="text-center">
    <h1 class="display-4">Transaction history</h1> <br />
</div>

<div>
    <h1>Invoices</h1>

    <table>
        <thead>
            <tr>
                <th>
                    Test
                </th>
                <th>
                    Test
                </th>
                <th>
                    Test
                </th>
                <th>
                    Test
                </th>
                <th>
                    Test
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Test
                </td>
                <td>
                    Test
                </td>
                <td>
                    Test
                </td>
                <td>
                    Test
                </td>
                <td>
                    <a asp-action="Details">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>