<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finance Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceProject.styles.css" asp-append-version="true" />
</head>
<body>@* bg-white *@
    <header style="background-color: #164d8f; color: azure;">@* navbar-light *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="topNav" style="z-index: 10">
            <div class="container-fluid">
                <a style="color: azure;" class="navbar-brand" asp-area="" asp-controller="User" asp-action="Dashboard">
                    <img src="~/lib/cubert/fml.png" width="30" height="30" /> @* For this might afte to use if statement so that it sends to the dashboard when logged in and to the index page when not *@
                    LazySausages Finances
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (!User.Identity.IsAuthenticated)

                        {





                            <li class="nav-item me-2">
                                <a class="btn btn-primary nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Accounts" asp-action="Login">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 30 30">
                                        <path d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z" />
                                        <polygon points="14.59 20.59 18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59" />
                                    </svg>

                                    Log in
                                </a>

                            </li>
                            <li class="nav-item">

                                <a class="btn btn-primary nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Accounts" asp-action="Register">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="-2 -2 24 24">
                                        <path d='M3.534 10.07a1 1 0 1 1 .733 1.86A3.579 3.579 0 0 0 2 15.26V17a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1.647a3.658 3.658 0 0 0-2.356-3.419 1 1 0 1 1 .712-1.868A5.658 5.658 0 0 1 14 15.353V17a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-1.74a5.579 5.579 0 0 1 3.534-5.19zM7 0a4 4 0 0 1 4 4v2a4 4 0 1 1-8 0V4a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v2a2 2 0 1 0 4 0V4a2 2 0 0 0-2-2zm10 3h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0V7h-2a1 1 0 0 1 0-2h2V3a1 1 0 0 1 2 0v2z' />
                                    </svg>

                                    Register
                                </a>
                            </li>

                        }



                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user-circle me-1"></i> @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <form class="form-inline" asp-controller="User" asp-action="Dashboard">
                                            <button type="submit" class="dropdown-item text-dark">Dashboard</button>
                                        </form>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <form class="form-inline" asp-controller="Invoices" asp-action="Index">
                                            <button type="submit" class="dropdown-item text-dark">Invoices</button>
                                        </form>
                                        <hr class="dropdown-divider">
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <form method="get" class="form-inline" asp-controller="Admin" asp-action="UserManaging">
                                                <button type="submit" class="dropdown-item text-dark">Manage Users</button>
                                            </form>
                                            <hr class="dropdown-divider">
                                        </li>
                                    }
                                    <li>
										<form method="get" class="form-inline" asp-controller="Accounts" asp-action="Logout">
                                            <button type="submit" class="dropdown-item oodangerous">Log out</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>


                        }
                    </ul>
                </div>
            </div>
        </nav>
        @* Making left navbar separate *@

        @if (User.Identity.IsAuthenticated)
        {
            <nav id="sideNav" style="z-index: 9">
                <ul>
                    <li>
                        <a asp-controller="User" asp-action="Dashboard">
                            <svg width="30px" height="30px" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" fill="white" />
                                <path d="M14 12C14 10.3431 12.6569 9 11 9H5C3.34315 9 2 10.3431 2 12V15H14V12Z" fill="white" />
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Invoices" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" viewBox="-2 -2 461 461">
                                <path d="M218.747,220.134c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5c0,20.194,14.584,37.035,33.77,40.574v8.842
				                                            c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-8.842c19.186-3.539,33.77-20.38,33.77-40.574
				                                            c0-20.194-14.583-37.035-33.77-40.574v-52.138c10.841,3.236,18.77,13.294,18.77,25.173c0,4.142,3.358,7.5,7.5,7.5
				                                            c4.142,0,7.5-3.358,7.5-7.5c0-20.194-14.583-37.036-33.77-40.574v-8.842c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5
				                                            v8.842c-19.186,3.539-33.77,20.38-33.77,40.574c0,20.194,14.584,37.036,33.77,40.574v52.138
				                                            C226.675,242.071,218.747,232.013,218.747,220.134z M252.517,194.962c10.841,3.236,18.77,13.293,18.77,25.173
				                                            c0,11.879-7.928,21.937-18.77,25.173V194.962z M218.747,152.595c0-11.879,7.928-21.936,18.77-25.173v50.346
				                                                C226.675,174.532,218.747,164.474,218.747,152.595z" />

                                <path d="M337.333,401.609c2.083-2.144,2.795-5.387,1.62-8.17c-0.385-0.913-0.929-1.729-1.62-2.44

				                                                c-4.657-4.524-12.828-1.315-12.81,5.31C324.541,402.907,332.65,406.158,337.333,401.609z" />
                                <path d="M371.5,0H118.533C98.389,0,82,16.389,82,36.533v359.758c0,0.006,0,0.013,0,0.019c0,9.748,3.797,18.921,10.702,25.838
				                                            c6.908,6.895,16.081,10.692,25.829,10.692H132.5v20.66c0,2.841,1.605,5.438,4.146,6.708c2.542,1.271,5.583,0.996,7.854-0.708
				                                            l19.5-14.625l19.5,14.625c1.323,0.993,2.907,1.5,4.501,1.5c1.143,0,2.292-0.261,3.353-0.792c2.541-1.271,4.146-3.867,4.146-6.708
				                                            v-20.66h176c4.142,0,7.5-3.358,7.5-7.5V7.5C379,3.358,375.642,0,371.5,0z M97,36.533c0-9.233,5.853-17.104,14.033-20.158v344.173
				                                            c-5.16,1.081-9.92,3.257-14.033,6.269V36.533z M180.499,438.5l-12-9c-2.667-2-6.333-2-9,0l-12,9v-34.695h33V438.5z M364,388.81
				                                            h-8.27c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5H364v14.03H195.499v-14.035H307.53c4.142,0,7.5-3.358,7.5-7.5
				                                            c0-4.142-3.358-7.5-7.5-7.5h-189c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h13.969v14.035H118.53
				                                            c-5.747,0-11.156-2.24-15.222-6.298C99.24,407.466,97,402.057,97,396.31c0-11.877,9.658-21.54,21.53-21.54H364V388.81z
				                                             M364,359.77H126.033V15H364V359.77z" />
                            </svg>
                            <span>Invoices</span>
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {


                        <li>
                            <a asp-controller="Admin" asp-action="UserManaging">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 19H1V18C1 16.1362 2.27477 14.5701 4 14.126M6 10.8293C4.83481 10.4175 4 9.30621 4 7.99999C4 6.69378 4.83481 5.58254 6 5.1707M21 19H23V18C23 16.1362 21.7252 14.5701 20 14.126M18 5.1707C19.1652 5.58254 20 6.69378 20 7.99999C20 9.30621 19.1652 10.4175 18 10.8293M10 14H14C16.2091 14 18 15.7909 18 18V19H6V18C6 15.7909 7.79086 14 10 14ZM15 8C15 9.65685 13.6569 11 12 11C10.3431 11 9 9.65685 9 8C9 6.34315 10.3431 5 12 5C13.6569 5 15 6.34315 15 8Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                <span>Manage Users</span>
                            </a>
                        </li>

                    }



                    <li style="margin-top: auto; margin-bottom: 10px">
                        <form asp-controller="Accounts" asp-action="Logout" method="post">
                            <button type="submit" class="btn btn-link text-white p-0" style="text-decoration: none;">
                                <svg width="30px" height="30px" viewBox="-3.5 0 64 64" version="1.1" fill="white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

                                    <title>Logout</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs>

                                    </defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd" sketch:type="MSPage">
                                        <g id="Logout" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)" stroke="#6B6C6E" stroke-width="2">
                                            <path d="M38,32 L38,52 C38,53.1 37.1,54 36,54 L32.4,54" id="Shape" sketch:type="MSShapeGroup">

                                            </path>
                                            <path d="M1.9,0 L36,0 C37.1,0 38,0.9 38,2 L38,26" id="Shape" sketch:type="MSShapeGroup">

                                            </path>
                                            <path d="M0,2 C0,0.9 0.9,0 2,0 L30.1,8 C31.2,8 32.1,8.9 32.1,10 L32.1,60 C32.1,61.1 31.2,62 30.1,62 L2,54 C0.9,54 0,53.1 0,52 L0,2 L0,2 Z" id="Shape" sketch:type="MSShapeGroup">

                                            </path>
                                            <circle id="Oval" sketch:type="MSShapeGroup" cx="25.5" cy="34.5" r="1.5">

                                            </circle>
                                            <g id="Group" transform="translate(35.000000, 20.000000)" sketch:type="MSShapeGroup">
                                                <path d="M13.2,13.7 L13.2,17.4 C13.2,17.7 13,18 12.6,18 L0.9,10.2 C0.6,10 0.3,9.9 0.3,9.6 L0.3,8.5 C0.3,8.3 0.5,8.1 0.9,7.9 L12.6,0 C12.9,0 13.1,0.3 13.1,0.6 L13.1,4" id="Shape">

                                                </path>
                                                <path d="M11.3,5 L21,5" id="Shape">

                                                </path>
                                                <path d="M11.3,13 L21,13" id="Shape">

                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span>Log out</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-left: 70px;">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" id="bottomNav">
        <div class="container">
            &copy; 2025 - Finance Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        console.log(parseFloat(getComputedStyle(topNav).height));
        window.addEventListener("load", () => {
            const sideNav = document.getElementById("sideNav");
            const topNav = document.getElementById("topNav");

            function ResizeSideNavTop() {
                if (!sideNav || !topNav) return;
                const topHeight = getComputedStyle(topNav).height;
                sideNav.style.top = topHeight;
            }

            


            // 🪄 Resize observers to auto-adjust on navbar/footer resize
            // if (topNav) {
            //     const resizeObserverTop = new ResizeObserver(() => ResizeSideNavTop());
            //     resizeObserverTop.observe(topNav);
            // }
        

         ResizeSideNavTop();


            window.addEventListener("scroll", () => {
                if (!sideNav || !topNav) return;

                const scrollTop = parseFloat(window.scrollY);
                const topHeight2 = parseFloat(getComputedStyle(topNav).height);

                if (topHeight2 - scrollTop > 0) {
                    const cssSide = `${topHeight2 - scrollTop}px`;
                    sideNav.style.top = cssSide;
                } else {
                    sideNav.style.top = "0px";
                }
            });

            console.log("Sidebar initialization complete ✅");
        });
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>