html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Garamond;
}

/*dw bout it*/
.adminge {
    background-color: red;
    color: azure;
}

footer[class='border-top footer text-muted'] {
    color: azure;
}


.collapseButton {
    height: 20px;
    width: 20px;
    color: black;
    background-color: transparent;
    padding: 0px;
    line-height: 0px;
    font-size: 15px;
}

.collapseButton:hover {
    background-color: #999;
}

.hiddenContent {
    border: 1px, black, solid;
    background-color: #FAF9F6;
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.invoiceForm {
    border: 1px, black, solid;
    background-color: #FAF9F6;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.invoiceInput {
    outline: 1px dashed black;
    border: 0;
    resize: none;
}

.inputHolder {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invoiceDetailsHolder {
    border: 1px, black, solid;
    background-color: #FAF9F6;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.invoiceDetailHolder {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invoiceDetailValue {
    outline: 1px solid black;
    border: 0;
    resize: none;
    color: black;
    background-color: white;
    overflow: hidden;
}

#sideNav {
    position: fixed;
    left: 0;
    bottom: 0px;
    top: 60px;
    width: 70px;
    background-color: black;
    color: white;
    transition: width 0.25s ease;
    overflow: hidden;
    z-index: 999;
}

#sideNav:hover {
    width: 200px;
}

    #sideNav ul li a {
        height: 50px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.2s ease;
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
    }

#sideNav ul li a:hover {
    background-color: #2a74a5;
}

#sideNav ul {
    padding: 0;
    margin: 0;
    gap: 15px;
    padding-top: 10px;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
}


    #sideNav svg {
        width: 30px;
        height: 30px;
        min-width: 30px;
        flex-shrink: 0;
        fill: white;
        opacity: 1; 
        transition: fill 0.2s ease, transform 0.2s ease;
    }

#sideNav span {
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    color: white;
    padding-left: 10px;
}

#sideNav:hover span {
    opacity: 0.8;
}
#deleteButton {
    float: right;
    background-color: red;
    color: white;
    border: 0;
    text-decoration: underline;
    font-size: 32px;
}

.invoiceContentRow:hover {
    background-color: ghostwhite;
}

#negativeValue {
    color: red;
    font-weight: bold
}

#positiveValue {
    color: green;
    font-weight: bold
}
